.hidden-word-container {
  text-align: center;
  margin: 20px;
}

.hidden-word-container h2 {
  font-size: 1.5rem;
  color: #333;
}

.hidden-word-container p {
  font-size: 1.2rem;
  color: green;
  font-weight: bold;
}
